*
{
    margin: 0;
    padding: 0;
    
}
body
{
    width: 100vw;
}

html
{
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav
{
    display: flex;
    flex-flow: column;
    position: fixed;
    align-items: center;
    height: 100vh;
    width: 10vw;
    background-color:rgb(171, 42, 42);
}

nav a
{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(207, 200, 14);
    text-decoration: none;
    padding-top: 2vh;
}

a:visited, a:hover
{
    text-decoration: none;
    color: rgb(207, 200, 14);
    
}

#sections
{
    margin-left: 10vw;
    
}

/* Section1 -------------------------------*/

#section1
{
    display: flex;
    justify-content: center;
    background-color:RGB(1,76,53);
    height: 100vh;
    padding-top: 2vh;
    text-align: center;
    color: whitesmoke;
    overflow: hidden ;
    
}

#imgLogo
{
    width: 20vw;
    padding-bottom: 5vh;
    
}

#imgLocation
{
    width: 50vw;
    padding-bottom: 10vh;
    border-radius: 15px;
}

#introtext
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:RGB(252,50,50,0.6);
    margin-left:10vw;
    margin-right:10vw;
    font-size: 2vh;
    text-align: center;
    color:rgb(240, 180, 30);
}

#section1 h2
{
    
    padding-bottom: 4vh;
} 

#next1
{
    display: none;
}

/*section 2 --------------------------------*/


#section2
{
    background-image: url('../Doc/img/Beeldbank_Curio_Mbo/MBO/GettyImages-1127305026.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#grid-classes
{
    display: none;
}


table
{
    background-color: rgb(240, 248, 255,0.7);
    
}

#table-classes
{
    height: 90vh;
    width: 80vw;
    text-align: center;
    width: 70vw;
    
}

#table-classes p
{
    font-size: 80%;
}

th,tr,td
{
    border: 1px solid black;
    border-radius: 10%;
    
}

#next2
{
    display: none;
}

/* Section3 ---------------------------*/

#section3
{
    background-image: url('../Doc/img/Beeldbank_Curio_Mbo/Mbo/Mbo\ -\ techniek\ en\ technologie/GettyImages-1212006391.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

    #click-img
{
    display: none;
}

#rooster
{
    margin-top: 4vh;
    width: 60vw;
    margin-bottom: 3vh;
    opacity: 0.8;
}

#rooster-beschrijving
{
    text-align: center;
    background-color: aliceblue;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10%;
}
    
#next3
{
    display: none;
}

/* Section 4 ---------------------------*/

#section4
{
    background-color: rgb(255, 0, 132);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#click-img
{
    display: none;
}

#next4
{
    display: none;
}



#footer
{
    height: 10vh;
    width: 100vw;
    background-color: rgb(152, 31, 180);
    position: fixed;
    
}


@media (max-width: 768px) {

    

    body
    {
        max-width: 100vw;
    }

    nav
    {
        display: none;
    }


    #intro
    {
        margin-top: -20vh;
    }

    #imgLogo
    {
        padding-bottom: 4vh;
        width: 40vw;
    }

    #sections
    {
        width: 100vw;
        margin-left: 0vw;
        margin-right: 0vw;
        
    }

/* Section1 -------------------------------*/

    #section1
    {
        display: flex;
        flex-flow: column;
        align-items: space-between;
        justify-content: center;
        padding-right:3vw;
        margin-left: 0vw;
        margin-right: 0vw;
        
    }

    #next1
    {
        display: inline-flex; 
    }

    /* Section2 -------------------*/

    #grid-classes
    {
        
        display: grid;
        grid-template-columns: 4, 1fr;
        grid-gap: 1vh;
        text-align: center;
        overflow:scroll;
    }

    #grid-classes h1
    {
        color: white;
        text-shadow: black 0px 0px 5px;
    }

    #classes
    {
        background-color: rgba(215, 215, 250, 0.9);
        font-weight: bold;
        border-radius: 10%;
        width: 100vw;
    }

    #table-classes
    {
        display: none;
        margin-top: 21vh;
        width: 10%;
    }

    #next2
    {
        display: inline-flex;
        color: yellow;
    }

    /* Section3 -----------------------*/

    #click-img
    {
        text-align: center;
        display: block;
        background-color: rgb(255, 255, 255);
        margin-top: 10vh;
    }

    #rooster
    {
        margin-top: 0;
        width: 90vw;
        opacity: 1;
    }

    #rooster-beschrijving
    {
        text-align: center;
        width: 80vw;
        background-color: aliceblue;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 10%;
    }

    #next3
    {
        display: inline-flex;
        color: yellow;
        display: block;
    }

    /* Section4 -----------------------*/

    #section4
    {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        background-image: url('../Doc/img/Beeldbank_Curio_Mbo/Mbo/foto\ scholieren.jpg');
        background-size: cover;
    }

    #click-img
    {
        text-align: center;
        display: block;
        background-color: rgb(255, 255, 255);
        margin-top: 10vh;
    }

    #blokuitleg
    {
        text-align: center;
        color: black;
        text-shadow: white 0px 0px 5px;
        background-color: rgb(255, 255, 255,0.7);
        margin-bottom: 2vh;
    }

    #next4
    {
        display: inline-flex;
        color: yellow;
        display: block;
    }


}